@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ice-shadow {
    --tw-shadow-color: rgba(135, 159, 194, 0.48);
    --tw-shadow: 3px 3px var(--tw-shadow-color);
    box-shadow: var(--tw-shadow);
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}
